<div class="row">
    <div class="col-sm-6">
        <h1 class="text-center">
            <span class="glyphicon glyphicon-link"></span>
        </h1>
        <div class="form-group">
            <a class="form-control btn btn-primary" href="#/sign/">
                Sign URL
            </a>
        </div>
        <p>
            Lorum Ipsum asdfsf alskdf lkasndfn adnfl nalskdfn asd
        </p>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center">
            <span class="glyphicon glyphicon-cloud-upload"></span>
        </h1>
        <div class="form-group">
            <a class="form-control btn btn-success" href="#/upload/">
                Upload to URL
            </a>
        </div>
        <p>
            Lorum Ipsum asdfsf alskdf lkasndfn adnfl nalskdfn asd
        </p>
    </div>

    <!--
    <div class="col-sm-6">
        <h3>Create signed url</h3>
        <div ng-include="'app/views/sign.html'"></div>
    </div>

    <div class="col-sm-6">
        <h3>Upload to a signed url</h3>
        <div ng-include="'app/views/upload.html'"></div>
    </div>-->
</div>
<div class="row">
    <div class="col-xs-12">
        <p>This aaaaaaaaaaaaaaaaaaaaaa sfasdfasdfasdfasdfasdf</p>
    </div>
</div>
