<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">
			<span class="glyphicon glyphicon-link"></span>
			<div>Sign URL</div>
		</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="output" ng-show="output">
			<h3>Output</h3>
			<div class="form-group">
				<label>Signed URL</label>
				<kbd class="col-xs-12">{{output.signedURL}}</kbd>
				<button class="btn" clipboard supported="supported" text="output.signedURL" on-copied="success()" on-error="fail()"><span class="glyphicon glyphicon-copy"></span></button>
			</div>
			<div class="form-group">
				<label>P2S3 URL</label>
				<kbd class="col-xs-12">{{output.p3s3URL}}</kbd>
				<button class="btn" clipboard supported="supported" text="output.p3s3URL" on-copied="success()" on-error="fail()"><span class="glyphicon glyphicon-copy"></span></button>
			</div>
		</div>


		<h3>Help</h3>
		<p>
			The buckets needs to have an open CORS configuration.
		</p>

		<p>
			It can be accessed by right clicking a bucket in <a href="https://console.aws.amazon.com/s3/home">S3 Management Console</a>. Click on permissions and click "Edit CORS Configuration".
		</p>

		<h4>Example policy below</h4>
		<pre>
			&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
			&lt;CORSConfiguration xmlns=&quot;http://s3.amazonaws.com/doc/2006-03-01/&quot;&gt;
			    &lt;CORSRule&gt;
			        &lt;AllowedOrigin&gt;*&lt;/AllowedOrigin&gt;
			        &lt;AllowedMethod&gt;GET&lt;/AllowedMethod&gt;
			        &lt;AllowedMethod&gt;PUT&lt;/AllowedMethod&gt;
			        &lt;AllowedMethod&gt;POST&lt;/AllowedMethod&gt;
			        &lt;AllowedMethod&gt;DELETE&lt;/AllowedMethod&gt;
			        &lt;AllowedHeader&gt;*&lt;/AllowedHeader&gt;
			    &lt;/CORSRule&gt;
			&lt;/CORSConfiguration&gt;
		</pre>
	</div>
    <div class="col-sm-6">
		<form>
			<div class="form-group">
				<label>Access Key</label>
				<input ng-model = "accessKeyId" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Secret Key</label>
				<input ng-model = "secretAccessKey" type="password" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Endpoint URL</label>
				<input ng-model = "defaultURL" type="checkbox"/> Default
				<input ng-show="!defaultURL" ng-model = "url" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Bucket</label>
				<input ng-model = "bucket" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Path</label>
				<input ng-model = "path" type="text" class="form-control" placeholder="folder/file.zip"/>

			</div>
			<div class="form-group">
				<label>FileType(MIME Type)</label>
				<input ng-model = "mimeType" type="text" class="form-control" list="types"/>
				<datalist id="types">
					<option value="image/jpeg">
					<option value="application/zip">
				</datalist>
			</div>
			<div class="form-group">
				<label>Encryption</label>
				<input ng-model = "encryption" type="checkbox"/>
			</div>
			<div class="form-group">
				<label>Expiration</label>
				<input ng-model = "expiration" type="number" class="form-control"/>
				<select class="form-control" ng-model="expMult" ng-options="key for (key, value) in secondsTable"></select>
			</div>
			<div class="form-group">
				<button class="form-control btn btn-primary" ng-click="sign();">
					Sign
				</button>
			</div>
		</form>
	</div>
</div>
