<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center">
			<span class="glyphicon glyphicon-link"></span>
			<div>Sign URL</div>
		</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<p>
			Bla
		</p>
	</div>
    <div class="col-sm-6">
		<form>
			<div class="form-group">
				<label>Access Key</label>
				<input ng-model = "username" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Secret Key</label>
				<input ng-model = "password" type="password" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Endpoint URL</label>
				<input ng-model = "url" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Bucket</label>
				<input ng-model = "url" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Path</label>
				<input ng-model = "url" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>FileType</label>
				<input ng-model = "url" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<button class="form-control" ng-click="login();">
					Sign
				</button>
			</div>
		</form>
	</div>
</div>
